:host {
  display: block;
  box-sizing: border-box;
  --bgcolor-checkbox: #1973b8;
  --bgcolor-active: #bbdefb;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button:disabled,
button[disabled] {
  cursor: no-drop !important;
}

button[disabled]:hover {
  background-color: transparent !important;
}

button:disabled:hover {
  background-color: transparent !important;
}

.wrapper {
  margin: 0;
  position: relative;

  .panel-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #e1e1e1;

    &-left {
      font-size: 0.9em;
      padding-left: 10px;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        height: 40px;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        border-left: 1px solid #bdbdbd;
        cursor: pointer;
      }

      button:hover {
        background-color: #e9e9e9;
      }

      &-display-pages {
        font-size: 0.9em;
        padding: 0 10px 0 3px;
      }

      &-display-select {
        position: relative;

        select {
          position: relative;
          z-index: 2;
          height: 40px;
          width: 65px;
          padding-left: 20px;
          padding-right: 25px;
          outline: none;
          border: none;
          background: transparent;
          border-left: 1px solid #bdbdbd;
          -moz-appearance: none;
          -webkit-appearance: none;
          font-size: 0.9em;

          option {
            background-color: #f4f4f4;
          }
        }

        select::-ms-expand {
          display: none;
        }

        cells-icon {
          width: 21px;
          position: absolute;
          top: 7px;
          right: 0;
          z-index: 1;
        }
      }
    }
  }

  .mask-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.55);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 120px;
    }
  }
}

.table {
  margin: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
  cursor: pointer;
}

.row:hover {
  background-color: var(--bgcolor-active);
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row:nth-of-type(odd):hover {
  background: var(--bgcolor-active);
}

.row.header {
  font-weight: 600;
  color: #333;
  background: #d3d3d3;
}

.row.header:hover {
  background: #d3d3d3 !important;
}

.row.navy {
  color: #ffffff;
  background: #072146;
}

.row.navy:hover {
  background: #072146 !important;
}

.row.black {
  color: #ffffff;
  background: #000;
}

.row.black:hover {
  background: #000 !important;
}

.row.white {
  color: #000;
  background: #fff;
}

.row.white {
  .cell {
    border-bottom: 1px solid #bdbdbd;
  }
}

.row.white:hover {
  background: #fff !important;
}

.row.dark {
  color: #ffffff;
  background: #043263;
}

.row.dark:hover {
  background: #043263 !important;
}

.row.primary {
  color: #ffffff;
  background: #1464a5;
}

.row.primary:hover {
  background: #1464a5 !important;
}

.row.blue {
  color: #ffffff;
  background: #004481;
}

.row.blue:hover {
  background: #004481 !important;
}

.row.green {
  color: #ffffff;
  background: #006c6c;
}

.row.green:hover {
  background: #006c6c !important;
}

.row.purple {
  color: #ffffff;
  background: #8f7ae5;
}

.row.active {
  background: var(--bgcolor-active);
}

.row.purple:hover {
  background: #8f7ae5 !important;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }

  .row:hover {
    background-color: #f6f6f6;
  }

  .row:nth-of-type(odd):hover {
    background: #e9e9e9;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell {
    margin-bottom: 10px;
  }

  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 12px;
  display: table-cell;
  vertical-align: middle;
  position: relative;

  cells-icon {
    width: 13px;
    position: absolute;
    top: 9px;
    right: 5px;
  }
}

.compact {
  font-size: 0.9em;
  padding: 6px 12px;
}

.content-table-body {
  overflow: auto;
}

.content-table-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
}

.content-table-body::-webkit-scrollbar {
  width: 8px;
  height: 11px;
  background-color: #F4F4F4;
}

.content-table-body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.content-table-body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }

  .compact {
    padding: 2px 16px;
  }

  .panel-pagination-left {
    display: none;
  }

  .wrapper .panel-pagination-right {
    width: 100%;
  }

  .wrapper .panel-pagination-right-display-select select {
    padding-left: 5px;
    border-left: none;
  }

  .row {
    border-bottom: 1px solid #bdbdbd;
  }
}

.hide {
  display: none !important;
}

.col-chk {
  padding-right: 0 !important;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 22px;
  height: 22px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #666;
  transition: all 0.2s ease;
  background-color: #f4f4f4;
}

.cbx span:first-child svg {
  position: absolute;
  top: 5px;
  left: 4px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--bgcolor-checkbox);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: var(--bgcolor-checkbox);
}

.inp-cbx:checked+.cbx span:first-child {
  background: var(--bgcolor-checkbox);
  border-color: var(--bgcolor-checkbox);
}

.inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
  opacity: 0;
  transition: all 0.6s ease;
}

@media screen and (max-width: 580px) {
  .inp-cbx {
    display: none;
  }

  .cbx {
    display: none;
  }

  .col-chk {
    display: none;
  }
}

.panel-pagination-top {
  border-bottom: 1px solid #e1e1e1;
}

.hide {
  display: none !important;
}

.button-action-more {
  position: relative;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  margin: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s;

  cells-icon {
    height: 19px;
    width: 19px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #666;
  }
}

.button-action-more:hover {
  background: #fff;
}