:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

@media only screen and (max-width: 990px) {
  bbva-button-default {
    width: 100%;
    max-width: 100%;
  }
}
