:host {
  display: block;
  box-sizing: border-box;
  --microilustration-w:120px;
  --microilustration-h:110px;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

.header-title-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    width: calc(100% - 390px);
  }
  .ejecutions-sections {
    display: flex;
    align-items: center;
    bbva-web-form-date {
      width: 240px;
      margin-right: 5px;
    }
    bbva-web-button-default {
      --_bg-color: #006C6C;
      --_ripple-color: #028484;
      width: 150px;
    }
  }
}

.container-information {
  margin-top: 15px;
  .panel-content {
    background-color: #F4F4F4;
  }
  .result-process {
    display: flex;
    align-items: center;
    overflow: hidden;
    .microilustration {
      width: var(--microilustration-w);
      height: var(--microilustration-h);
    }
    .account-mi {
      padding-bottom: 8px;
      margin-top: -8px;
    }
    .text-info-result {
      width: calc(100% - var(--microilustration-w));
      display: flex;
      flex-direction: column;
      .item-text {
        line-height: 1.3em;
        font-size: 0.9em;
        color: #2B2F3A;
        display: flex;
        align-items: center;
        cells-icon {
          width: 40px;
          margin: 0 8px 0 5px;
          color: #006C6C;
        }
        strong {
          font-size: 0.9em;
        }
      }
      .right-text-result {
        padding-left: 20px;
        a {
          color: #2B2F3A;
          font-weight: bold;
        }
      }
      .item-text:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

.title-eecc-bcr {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cells-icon {
    cursor: pointer;
  }
}

.container-eecc-group {
  margin-top: 15px;
}

.separator-block-eecc {
 margin-top: 10px; 
}