:host {
    display: block;
    box-sizing: border-box;
}

:host([hidden]),
[hidden] {
    display: none !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row-detail-eecc {
    display: flex;
    color: #2B2F3A;
    * {
        margin-right: 5px;
        font-size: 0.9em;
        text-align: center;
        align-items: center;
    }

    .header {
        background-color: #f4f4f4;
        border-bottom: 1px solid #666;
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 5px;
        padding-top: 5px;
    }

    .description {
        width: calc(100% - 260px);
        text-align: right;
        padding-right: 5px;
    }

    .amount {
        width: 170px;
        text-align: right;
        padding-right: 5px;
    }

    .type {
        width: 30px;
    }

    .count {
        width: 60px;
        margin-right: 0px;
    }

    .positive {
        color: #1973B8;
        font-weight: bold;
    }

    .negative {
        color: #B12C2C;
        font-weight: bold;
    }

    .symbol-operator {
        font-size: 1.2em;
    } 
}