:host {
    display: block;
    box-sizing: border-box;
  }
  
  :host([hidden]), [hidden] {
    display: none !important;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container-loading {
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }